*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --grey: #f9f9f9;
}

html,
body,
.App,
#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--grey);
  position: relative;
}
